@model DoNgoaiChinhHang.Areas.Admin.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var CategoryBaseID = @ViewBag.categoryBaseName.CategoryBaseID;
    var CategoryBaseName = @ViewBag.categoryBaseName.CategoryBaseName;
    var CategoryID = @ViewBag.categoryName.CategoryID;
    var CategoryName = @ViewBag.categoryName.CategoryName;

}

<link href="~/assets/css/cart.min.css" rel="stylesheet" />
<link href="~/assets/css/home.css" rel="stylesheet" />
<link href="~/assets/css/category.css" rel="stylesheet" />
<link href="~/assets/css/detail4.css" rel="stylesheet" />
<link href="~/assets/css/jquery.fancybox.css" rel="stylesheet" />
<link href="~/assets/css/menu.css" rel="stylesheet" />
<link href="~/assets/css/owl-carousel.css" rel="stylesheet" />
<link href="~/assets/css/styles4.css" rel="stylesheet" />
<link href="~/assets/css/menu.css" rel="stylesheet" />


<div class="breadcrumb">
    <ul>
        <li>
            <a href="~/Home/Index" title="Đồ Ngoại Chính Hãng">
                <span class="iH"></span>
            </a><span>›</span>
        </li>
        <li>
            <a href="#" title="@CategoryBaseName"><span>@CategoryBaseName</span></a><span>›</span>
        </li>
        <li>
            <a href="#" title="@CategoryName"><span>@CategoryName</span></a>
        </li>
    </ul>
</div>

<div class="col-right hmb">
    <div class="sidebar sidebar-right">
        <img class="lazy mbtm" alt="Giỏ hàng dongoaichinhhang"
             src="~/assets/img/chinh-sach-ban-hang-dongoaichinhhang.jpg"
             style="display: inline; opacity: 1; z-index: 0;" />
        <div id="best-seller-left" class="widget widget-seller fixed" style="position: ; top: 58px; width: 241px; ">
            <h4 class="seller_title radius">Sản phẩm mua nhiều</h4>
            <div class="widget-content border">
                <div class="wrap-item owl-carousel owl-theme" style="opacity: 1; display: block;">
                    @foreach (var item in ViewBag.listTopProducts)
                    {
                        <div class="item-pro-seller">
                            <a href="@Url.Action("Detail", "Products", new { productID = @item.Product.ProductID })" title="@item.Product.ProductName">
                                <div class="product-thumb">
                                    <img class="lazy" alt="@item.Product.ProductName"
                                         src="@Url.Content("~/wwwroot/ProductsImages/" + item.ImgFirst)"
                                         style="display: inline; opacity: 1;">
                                </div>
                                <div class="product-info">
                                    <h4>@item.Product.ProductName</h4>
                                    <ins>@item.Product.Price</ins>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-left" itemscope="" itemtype="http://schema.org/Product">
    <div class="product-detail accordion-detail border radius">
        <div class="row">
            <div class="detail-gallery">
                <div class="inner">
                    <div class="mid">
                        <img src="@Url.Content("~/wwwroot/ProductsImages/" + ViewBag.Images[0])" id="mainImage" style="cursor:pointer" />
                    </div>

                    <div class="gallery-control">
                        <a href="#"
                           class="prev">‹</a>

                        <div class="carousel" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 240px;">
                            <h1>
                                <ul>
                                    <li class="active" style="overflow: hidden; float: left; width: 80px; height: 52px;">
                                        <img class="lazy"
                                             src="@Url.Content("~/wwwroot/ProductsImages/"+ViewBag.Images[0])"
                                             style="display: inline; opacity: 1; width: 100%; height: 100%;cursor:pointer">
                                    </li>
                                    @for (int i = 1; i < ViewBag.Images.Count; i++)
                                    {
                                        <li style="overflow: hidden; float: left; width: 80px; height: 52px;">
                                            <img class="lazy"
                                                 src="@Url.Content("~/wwwroot/ProductsImages/"+ViewBag.Images[i])"
                                                 style="display: inline; opacity: 1;width:100%;height:100%;cursor:pointer">
                                        </li>
                                    }
                                </ul>
                            </h1>
                        </div>
                        <a href="#" class="next">›</a>
                    </div>


                    <div class="dnopro">
                        <p>
                            <img data-src="/imgs/hoan-tra-tien.png" alt="đổi hàng" class="lazy" src="~/assets/img/hoan-tra-tien.png" style="display: inline; opacity: 1;" />
                            Đổi trả hàng miễn phí trong 7 ngày
                        </p>
                        <p>
                            <img data-src="/imgs/thanh-toan.png" alt="thanh toán" class="lazy" src="~/assets/img/thanh-toan.png" style="display: inline; opacity: 1;" />
                            Giao hàng &amp; Thanh toán tận nơi toàn quốc
                        </p>
                        <p>
                            <img data-src="/imgs/giao-hang.png" alt="giao hàng" class="lazy" src="~/assets/img/giao-hang.png" style="display: inline; opacity: 1;" />
                            SÁNG nhận CHIỀU giao <i style="font-size:80%">(Áp dụng Tp HCM)</i>
                        </p>
                        <p>
                            <img data-src="/imgs/thong-tin.png" alt="chính hãng" class="lazy" src="~/assets/img/thong-tin.png" style="display: inline; opacity: 1;"> Cam kết Hàng Chính Hãng 100% -
                            Hoàn tiền 300% nếu hàng giả, kém chất lượng, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="detail-info">
                <div class="inner">
                    <h1 class="title-detail" itemprop="name">
                        @Model.ProductName
                    </h1>
                    <div class="vote">
                        <div style="width:100%"></div>
                    </div>
                    <div class="point">
                        (@Model.Evaluation / 5 sao - <a id="aCmt"> đánh giá</a>)
                    </div>
                    <ul class="hsxmsp">
                        <li>
                            <i>Hãng SX:</i>
                            <a href="#" class="ahsx">@Model.Brand</a>
                        </li>
                        <li>
                            <i>Xuất xứ:</i>

                            <a href="#" class="ahsx">@Model.Orgin</a>
                        </li>
                        <li>
                            <i>Mã SP:</i> <span itemprop="sku">@Model.ProductID</span>
                        </li>
                    </ul>
                    <p class="desc">
                        @foreach (var description in Model.Description.Split('.'))
                        {
                            <span>
                                -@description <br />
                            </span>
                        }
                    </p>

                </div>

                <p>
                    Tình trạng:
                    <span id="js-product-status" style="font-weight:700">
                        @if (Model.AvailableQuantity > 0)
                        {
                            <span>Còn hàng</span>
                        }
                        else
                        {
                            <span>Hết hàng</span>
                        }
                    </span>
                </p>
                <p class="hdm">Đã Mua: <b> @Model.QuantitySold</b></p>
                <span class="pprice">
                    <span class="txt_title">
                        Giá bán:
                    </span>
                    <ins id="insPrice">@String.Format("{0:0,0,0}", Model.Price)₫</ins>
                    <div class="kmfs">
                        @if (Model.Freeship == true)
                        {
                            <div>
                                <img src="~/assets/img/icon-ship.jpg">
                                <b>+ Miễn phí Ship<b> khi mua từ <b>2</b> sản phẩm<br />
                            </div>
                        }

                        @if (Model.Discount > 0)
                        {
                            <div>
                                <img src="~/assets/img/icon-km.gif" />
                                <b>+</b> Giảm Ngay <b>@String.Format("{0:0,0,0}", Model.Discount)</b>₫/sp khi mua từ <b>2</b> sản phẩm
                            </div>
                        }
                    </div>

                </span>

                <input id="txtIdPro" type="hidden" value="50929">
                <div class="detail-extralink">
                    <input class="qty-val" id="txtQty" value="1" type="number" max="99">
                    <a class="abodr" id="aOdr" href="@Url.Action("Index","Cart","")">
                        Đặt Hàng Ngay<br>
                        <div class="xhc">Xem hàng trước, nhận hàng trả tiền</div>
                    </a>
                </div>
                <script>$("#txtQty").change(function () { var iQty = parseInt($('#txtQty').val()); var pMin = 510000; var pMin2 = 510000; if (iQty < 1) iQty = 1; if (iQty > 1) { findCt('insPrice').innerHTML = pMin2.toLocaleString() + 'đ'; } else findCt('insPrice').innerHTML = pMin.toLocaleString() + 'đ'; $('#aOdr').attr('href', '/gio-hang.html?i=50929.' + iQty); });</script>
                <div class="boxcust">
                    <span id="alertcallforme"></span>
                    <h4>GỌI LẠI CHO TÔI</h4>
                    <span id="formcallme"></span>
                    <input type="text" id="txt-cus-name" class="cus-name" placeholder="Họ và tên">
                    <input type="tel" id="txt-cus-phone" class="cus-phone" placeholder="Để lại số điện thoại, chúng tôi gọi lại ngay">
                    <input type="button" id="btn-send-cust" class="btn-send-cust" value="GỬI">
                    <div class="clr"></div>
                </div>
                <div class="gdm">
                    Gọi đặt mua:
                    <img class="lazy" alt="call" src="~/assets/img/ho-tro-247.png" style="display: inline; opacity: 1;">
                    <a href="tel:0983667466">0983 667 466</a> (tư vấn miễn phí)
                </div>
            </div>

            <div class="clr"></div>
            <div class="clr"></div>
            <div class="box_item01">
                <div class="box_item_in">
                    <h2 class="tabgdt">
                        Giới thiệu @Model.ProductName
                    </h2>
                    <div class="bica">
                        <p style="font-weight: 100">&emsp;&emsp;&emsp; @Model.Introduction</p>
                        <p style="text-align: center;">
                            <a target="_blank">
                                <img class="lazy quickview-link"
                                     style="width: 700px; height: 500px; display: inline; opacity: 1;"
                                     src="@Url.Content("~/wwwroot/ProductsImages/"+ViewBag.Images[0])">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <p class="hmb" style="text-align:center">
                <a class="abodr"
                   href="@Url.Action("Index","Cart","")">Đặt Hàng Ngay<br></a>
            </p>
            <div class="box_item01">
                <div class="box_item_in">
                    <h2 class="tabgdt">
                        Công dụng của @Model.ProductName
                    </h2>
                    <div class="bica">
                        <p>
                            @foreach (var benefit in Model.Benefit.Split('.'))
                            {
                                if (@benefit.Length > 1)
                                {
                                    <span style="font-weight: 100">
                                        <span style="color:#ffd700;">✔</span> @benefit. <br />
                                    </span>
                                }
                            }
                        </p>
                        <p style="text-align: center;">
                            <a target="_blank">
                                <img class="lazy quickview-link"
                                     style="width: 700px; height: 500px; display: inline; opacity: 1;"
                                     src="@Url.Content("~/wwwroot/ProductsImages/"+ViewBag.Images[1])">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <p class="hmb" style="text-align:center">
                <a class="abodr"
                   href="@Url.Action("Index","Cart","")">Đặt Hàng Ngay<br></a>
            </p>
            <div class="box_item01">
                <div class="box_item_in">
                    <h2 class="tabgdt">
                        Thành phần của @Model.ProductName
                    </h2>
                    <div class="bica">
                        <p style="text-align:justify">
                            @foreach (var element in Model.Element.Split('.'))
                            {
                                if (@element.Length > 1)
                                {
                                    <span style="font-weight: 100">
                                        <span style="color:#0000ff;">✜ </span>@element. <br />
                                    </span>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
            <p class="hmb" style="text-align:center">
                <a class="abodr" href="@Url.Action("Index","Cart","")">Đặt Hàng Ngay<br></a>
            </p>
            <div class="box_item01">
                <div class="box_item_in">
                    <h2 class="tabgdt">
                        Hướng dẫn sử dụng @Model.ProductName
                    </h2>
                    <div class="bica">
                        <p>
                            @foreach (var tutorial in Model.Tutorial.Split('.'))
                            {
                                if (@tutorial.Length > 1)
                                {
                                    <span style="font-weight: 100">
                                        <span style="color:#ffd700;">➤ </span>@tutorial. <br />
                                    </span>
                                }
                            }
                        </p>
                        <p style="text-align: center;">
                            <a target="_blank">
                                <img class="lazy quickview-link"
                                     style="width: 700px; height: 500px; display: inline; opacity: 1;"
                                     src="@Url.Content("~/wwwroot/ProductsImages/"+ViewBag.Images[2])">
                            </a>
                        </p>
                        <p>================</p>
                        <p><strong>Thông tin sản phẩm</strong></p>
                        <p>- Tên sản phẩm:&nbsp;<span style="font-weight: 100">@Model.ProductName</span></p>
                        <p>- Thương hiệu: <span style="font-weight: 100">@Model.Brand</span></p>
                        <p>- Xuất xứ:  <span style="font-weight: 100">@Model.Orgin</span></p>
                    </div>
                </div>
            </div>

            <iframe src="~/assets/img/dnch.html" scrolling="no" style="min-height:357px;width:100%"></iframe>
            <div class="box-similar">
                <p class="headdetail">Đặt hàng nhanh</p>
                <div style="text-align:center">
                    <img data-src="/Images/dongoaichinhhang-chinh-sach-ban-hang.jpg"
                         class="lazy" alt="Giỏ hàng dongoaichinhhang"
                         src="~/assets/img/dongoaichinhhang-chinh-sach-ban-hang.jpg"
                         style="display: inline; opacity: 1;">
                    <p class="hodr">
                        Bạn muốn <span>ĐẶT MUA NGAY</span> sản phẩm này hoặc muốn được <span>
                            TƯ
                            VẤN
                        </span> rõ hơn về sản phẩm trước khi mua hàng, hãy <span>GỌI</span> vào số
                        <span>
                            hotline <a href="tel:0983667466"
                                       style="font-weight:700;color:red;font-size:150%">0983 667 466</a>
                        </span> của
                        chúng tôi hoặc để lại thông tin bên dưới. Chúng tôi sẽ gọi lại bạn hoàn toàn <span>
                            MIỄN
                            PHÍ
                        </span> chỉ sau ít phút.
                    </p><img src="https://dongoaichinhhang.com/Images/xem.gif"
                             alt="Giỏ hàng dongoaichinhhang">
                </div>
                <div class="oqfl">
                    <img data-src="/imgs/giohang.png" class="lazy"
                         alt="Giỏ hàng dongoaichinhhang"
                         src="~/assets/img/giohang.png"
                         style="display: inline; opacity: 1;">
                </div>
                <div class="form-order clearfix oqfr">
                    <form class="form-inline" id="formQuickOrder">
                        <div class="form-div col-xs-12">
                            <div class="iUs"></div><input type="text" class="form-control" id="txtFullName"
                                                          value="" placeholder="Họ tên (*)">
                            <div class="iPo"></div><input type="tel" class="form-control" id="txtPhone" value=""
                                                          placeholder="Số điện thoại (*)">
                            <div class="iAd"></div><input type="text" class="form-control" id="txtAddress"
                                                          value="" placeholder="Địa chỉ (*)">
                            <div class="iNo"></div><textarea rows="4" id="txtNote" class="form-control"
                                                             placeholder="Ghi chú hoặc Mã quà tặng" style="height: auto"></textarea>
                            <div>
                                <label style="color:brown">
                                    <input id="cbHidePro" type="checkbox"> Yêu cầu Che
                                    Giấu Tên Sản Phẩm !
                                </label><!-- <br /--><input type="hidden" value=""
                                                            id="iphidenpro">
                                <div id="divHidePro" style="display:none">
                                    <div class="iMa"></div>
                                    <input type="text" style="color:brown"
                                           class="form-control" id="txtEmailOrder" value=""
                                           placeholder="Nhập Tên Sản Phẩm Mới (nếu muốn đổi tên) ...">
                                </div>
                                <div class="clr"></div><br>
                            </div>
                        </div>
                        <div class="form-div col-xs-12" style="text-align: center">
                            <a class="btn btn-primary"
                               href="javascript:void();" id="btnSendOrder">ĐẶT HÀNG NHANH</a>
                            <div id="redataorder"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clr"></div>
            <div class="tagsbox">
                Tags: <ul class="tags">
                    <li>

                    </li>
                </ul>
            </div><br>
            <div class="clr"></div>
        </div>
        <div class="clr"></div><a name="cmt"></a><br>
        <div class="boxct" id="comment">
            <h5 id="id-comment-title">Có <span style="color:red">0</span> bình luận</h5>
            <h5><span id="SpanReply"></span></h5><input type="hidden" id="IdReply" value="0"><input type="hidden" id="IdControlReply" value="0"><span id="returnProcess" style="color: blue"></span>
            <h6 style="margin: 7px 0">
                Đánh giá: <select id="starrating">
                    <option value="5">***** Xuất sắc</option>
                    <option value="4">****&nbsp; Tốt</option>
                    <option value="3">***&nbsp;&nbsp; Khá</option>
                    <option value="2">**&nbsp;&nbsp;&nbsp; Trung bình</option>
                    <option value="1">*&nbsp;&nbsp;&nbsp;&nbsp; Tệ</option>
                </select> <span id="ratemsg"></span>
            </h6><textarea tabindex="1"
                           class="dropfirst textarea txtEditor"
                           placeholder="Mời bạn thảo luận, vui lòng nhập Tiếng Việt có dấu (*)" id="txtEditor"
                           maxlength="500"></textarea>
            <div class="sendnow">
                <input tabindex="2" class="infoname" name="txtName" value="" id="txtName"
                       type="text" placeholder="Họ tên (*)" maxlength="50" autocomplete="off">
                <input tabindex="3" class="infoname" name="txtEmail" value="" id="txtEmail" type="tel"
                       placeholder="Điện Thoại (*) [ được bảo mật ]" autocomplete="off" maxlength="50"><a tabindex="4" class="finalpost" href="javascript:void();" id="btnSend">Gửi</a>
            </div>
            <div class="infocomment"></div>
            <div class="clr"></div>
            <div class="hmb fns">
                <i><u>Lưu ý:</u></i> (*) Thời gian phát huy tối đa hiệu quả có thể khác nhau
                tùy theo cơ địa mỗi người. Do đó, hãy liên hệ trực tiếp để được tư vấn rõ hơn
            </div>
        </div>
        <div class="clr"></div>
        <div class="box-similar">
            <div class="box-similar-header">
                <h4 class="tabgdtmc">Sản phẩm dành riêng cho bạn</h4>
            </div>
            <div class="box-body clearfix">
                <ul class="homeproduct pro-slider fixheight owl-carousel owl-theme" style="opacity: 1; display: block;">
                    @foreach (var item in @ViewBag.listRelatedProducts)
                    {
                        <li>
                            <div class="owl-item" style="width: 236px;">
                                <div class="absoluteimg">
                                    <a href="@Url.Action("Detail","Products",new { productID = @item.Product.ProductID})" title="@item.Product.ProductName">
                                        @{

                                        }

                                        <img class="lazy" alt="@item.Product.ProductName"
                                             src="@Url.Content("~/wwwroot/ProductsImages/"+item.ImgFirst)"
                                             style="display: block; opacity: 1;">
                                    </a>
                                    <div class="prolink">
                                        <a href="@Url.Action("","","")"
                                           onclick="return showCart(50944, 1);">
                                            <i></i>&nbsp;Thêm giỏ hàng
                                        </a>
                                    </div>
                                </div>
                                <h4>
                                    <a href="@Url.Action("Detail","Products",new { productID = @item.Product.ProductID})"
                                       title="@item.Product.ProductName">
                                        @item.Product.ProductName
                                    </a>
                                </h4>
                                <ins>@item.Product.Price</ins>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
