
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<link rel="stylesheet" href="~/assets/css/cart.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="./assets/css/menu.css" type="text/css" media="screen" />
<link rel="stylesheet" href="./assets/css/styles4.css" type="text/css" media="screen" />
<link rel="stylesheet" href="./assets/css/owl-carousel.css" type="text/css" media="screen" />

<ul class="breadcrumb">
    <li itemscope="" itemtype="/">
        <a href="/" itemprop="url" title="Đồ Ngoại Chính Hãng"><span itemprop="title" class="iH"></span></a><span>›</span>
    </li>
    <li><a href="/Cart/Index">Giỏ hàng</a></li>
</ul>
<div class="boxct">
    <div class="clr">
        <div id="UpdatePanel1">
            <div id="divOrder">
                <p style="margin: 15px 0 10px 0;">Giỏ hàng có: <b>@Model.Count sản phẩm</b></p>
                <p style="margin: 5px 0 10px 0;">Tổng tiền: <b style="color: Red;">@ViewBag.Sum </b></p>

                <div>
                    <table class="tableedit" cellspacing="4" cellpadding="4" rules="all" border="1" id="gvCart" style="border-color: #e3eaee; border-style: None; width: 100%;">
                        <tbody>
                            <tr align="center" style="color: #333333; background-color: #efefef; font-size: 13px; font-weight: bold; height: 40px;">
                                <th scope="col">Stt</th>
                                <th scope="col">Hình Ảnh</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá bán</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td align="center" style="width: 30px;">
                                        @(i + 1)
                                    </td>
                                    <td align="center">
                                        @{
                                            string ImgPath = "~/assets/img/" + Model[i].Product.Image;

                                        }
                                        <a href="/">
                                            <img src="@Url.Content(ImgPath)" class="odrimgcol" />
                                        </a>
                                    </td>
                                    <td align="left">
                                        <a href="/Product/Detail/">
                                            <span id="gvCart_ctl02_lbName" style="font-weight: bold;">@Model[i].Product.ProductName</span>
                                        </a>

                                        <div style="font-size: 13px;">
                                            <i>Tặng kèm:</i> <span style="color: #fdab63;">+ Mặt nạ dưỡng ẩm cho da từ thiên nhiên Innisfree My Real Squeeze Mask 1 miếng<br /></span>
                                        </div>
                                        <div class="kmfs"><img src="~/assets/img/icon-ship.jpg" /> <b>+ Miễn Phí</b> vận chuyển toàn quốc<br /></div>
                                    </td>
                                    <td align="center" style="width: 140px;">
                                        <ins id="Price_@Model[i].Product.ProductID" value="@Model[i].Product.Price">@Model[i].Product.Price</ins>
                                    </td>
                                    <td align="center" style="font-size: 12px; width: 70px;">
                                        <div style="margin: 5px;">
                                            <input name="gvCart$ctl02$txtQty"
                                                   type="text"
                                                   value="@Model[i].Quanlity"
                                                   maxlength="2"
                                                   onchange=""
                                                   onkeypress="" data-productID="@Model[i].Product.ProductID"
                                                   id="@Model[i].Product.ProductID" class="CartItem_Quanlity" style="font-weight: bold; width: 35px; text-align: center; min-width: 39px !important; max-width: 39px !important;" />

                                            <div style="text-align: right; margin: 5px;"></div>

                                            <div class="hdkt">
                                                <div class="kmfs"><img src="./assets/img/icon-ship.jpg" /> <b>+ Miễn Phí</b> vận chuyển toàn quốc<br /></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center" style="width: 130px;">
                                        <b> <span id="lbPriceTotal_@Model[i].Product.ProductID">@((double)Model[i].Product.Price * @Model[i].Quanlity) VNĐ</span></b>
                                        <br />
                                        @* <a id="gvCart_ctl02_LinkButton2 Remove_CartItem" style="color: Red; font-style: italic;" data-productID="@Model[i].Product.ProductID">Xóa</a>*@
                                        <button class="btn btn-danger" data-productID="@Model[i].Product.ProductID">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

                <div class="clr"></div>
                <div class="todrprice">
                    <table border="0" style="width: 362px; max-width: 100%; position: initial;">
                        <tbody>
                            <tr style="border-bottom: solid 1px #e0e0e0;">
                                <td style="text-align: right;">Tiền hàng :</td>
                                <td style="text-align: right; width: 120px; color: red;">
                                    <span id="lbPriceTotalTruocChietKhau">@ViewBag.Sum</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">Giảm Chiết Khấu :</td>
                                <td style="text-align: right; color: green;">- <span id="lbPriceChietKhau">0₫</span></td>
                            </tr>
                            <tr id="trFreeShip">
                                <td style="text-align: right;">Giao hàng :</td>
                                <td style="text-align: right; color: orange;">Miễn Phí Ship</td>
                            </tr>

                            <tr style="border-top: solid 1px #e0e0e0;">
                                <td style="text-align: right;">
                                    Tổng tiền cần thanh toán : <br />
                                    <i style="color: gray;">(Nhận hàng mới thanh toán)</i>
                                </td>
                                <td style="text-align: right; color: red; font-weight: 700; vertical-align: middle;">
                                    <span id="lbPriceTotalAll">@ViewBag.Sum</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="clr"></div>
    <div class="clr">
        <div class="oqfl">
            <img data-src="/Images/giohang.png" class="lazy" alt="Giỏ hàng dongoaichinhhang" src="./assets/img/giohang.png" style="display: inline; opacity: 1;" />
        </div>

        <div class="oqfr">
            <div id="pFormOrder" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;btOrder&#39;)">
                <div style="max-width: 600px;">
                    <div class="titleodr">THÔNG TIN ĐƠN HÀNG</div>
                    <div class="box--form">
                        <div class="iUs"></div>
                        <input name="txtName" type="text" value="duong" id="txtName" class="form-control" placeholder="Họ và Tên (*)" />

                        <div class="iPo"></div>
                        <input name="txtPhone" type="tel" value="0839515451" id="txtPhone" class="form-control" placeholder="Điện thoại (*)" />

                        <div class="iAd"></div>
                        <input name="txtAddress" type="text" id="txtAddress" class="form-control" placeholder="Địa chỉ" />
                        <div class="iNo"></div>
                        <textarea name="txtContent" rows="2" cols="20" id="txtContent" class="form-control" placeholder="Ghi chú đơn hàng" style="height: 93px;"></textarea>
                        <div id="UpdatePanel2">
                            <div>
                                <span style="color: Brown; font-weight: bold;">
                                    <input id="cbHidePro" type="checkbox" name="cbHidePro" onclick="javascript:setTimeout(&#39;__doPostBack(\&#39;cbHidePro\&#39;,\&#39;\&#39;)&#39;, 0)" />
                                    <label for="cbHidePro"> Yêu cầu Che Giấu Tên Sản Phẩm !</label>
                                </span>
                                <br />

                                <div class="clr"></div>

                                <div style="margin: 15px 0 0 0; color: red;">Phương thức thanh toán:<br /></div>
                                <div style="margin: 10px 0 20px 30px; line-height: 23px;">
                                    <input id="rdbCOD" type="radio" name="thanhtoan" value="rdbCOD" checked="checked" /><label for="rdbCOD"> COD nhận hàng và thanh toán tại nhà</label><br />
                                    <input id="rdbCK" type="radio" name="thanhtoan" value="rdbCK" onclick="javascript:setTimeout(&#39;__doPostBack(\&#39;rdbCK\&#39;,\&#39;\&#39;)&#39;, 0)" />
                                    <label for="rdbCK"> Chuyển khoản ngân hàng</label><br />
                                </div>
                            </div>
                        </div>

                        <input id="ctl04" type="checkbox" name="ctl04" checked="checked" /><label for="ctl04"> Tôi đồng ý với các chính sách và quy định mua hàng tại website</label><br />
                        <br />
                        <div>
                            <div><span id="lblThongBao" style="color: #ff0033; font-weight: bold;"></span></div>
                            <div><span id="lbErrorMsg" style="color: Red;"></span></div>
                            <input type="submit" name="btOrder" value=" Đặt hàng " id="btOrder" class="btn" style="font-weight: bold;" />
                        </div>
                        <iframe src="./assets/img/dnch.html" scrolling="no" style="height: 60px; width: 100%;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>
