@model DoNgoaiChinhHang.Areas.Admin.Models.Product


@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<style>
    .form-group row row row {
        margin-bottom: 20px
    }
    
</style>


<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header" style="margin-top: 0px;">
            <h4>Sản phẩm</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#"> Quản lý hàng hóa</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Sản phẩm</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Thêm mới sản phẩm</h5>
            </div>
            <hr style="margin: 0" />
            <div class="card-block">

                @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @id = "formSubmit", enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "CategoryID2" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "CategoryID2" })
                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Mã sản phẩm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger", @id = "ProductID2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Danh mục sản phẩm</label>
                        <div class="col-md-10">
                            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger", @id = "CategoryID2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Tên sản phẩm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger", @id = "ProductName2" })
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Ảnh sản phẩm</label>
                        <div class="col-md-10">
                            <div class="field" align="left">
                                <h3 style="text-align:center">Chọn ảnh mô tả sản phẩm của bạn</h3>
                                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @type = "file", @multiple = "multiple", @name = "files", @id = "files", @accept = "image/jpeg" } })
                                <label for="files" id="label_">

                                    <i class="fas fa-cloud-upload-alt"></i>
                                </label>
                                @*@Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger", @id = "Image2" })*@


                            </div>
                            @if (ViewBag.ImageError != null)
                            {
                                <div class="text-danger" id="Image2">
                                    @ViewBag.ImageError
                                </div>
                            }
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Đánh giá</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Evaluation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Evaluation, "", new { @class = "text-danger", @id = "Evaluation2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Nhãn hiệu</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger", @id = "Brand2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Xuất xứ</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Orgin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Orgin, "", new { @class = "text-danger", @id = "Orgin2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Số lượng có</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AvailableQuantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AvailableQuantity, "", new { @class = "text-danger", @id = "AvailableQuantity2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Giá</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @id = "Price2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Công dụng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Benefit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Benefit, "", new { @class = "text-danger", @id = "Benefit2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Giới thiệu</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger", @id = "Introduction2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Thành phần</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Element, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Element, "", new { @class = "text-danger", @id = "Element2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">HDSD</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tutorial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tutorial, "", new { @class = "text-danger", @id = "Tutorial2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Giảm giá</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger", @id = "Discount2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Freeship</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Freeship, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Freeship, "", new { @class = "text-danger", @id = "Freeship2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Mô tả</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @id = "Description2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-sm-10">
                            @*<input type="submit" value="Thêm mới" class="btn btn-info addPro" />*@
                            <input type="submit" value="Thêm mới" class="btn btn-info" />
                            <input type="reset" value="Reset" class="btn btn-inverse-info" />
                            @Html.ActionLink("Quay lại", "Index")
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>





    </div>
</div>
