
@model PagedList.IPagedList<DoNgoaiChinhHang.Areas.Admin.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<style>
    .btn-primary {
        float: right
    }
</style>


<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header" style="margin-top: 0px;">
            <h4>Sản phẩm</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#"> Quản lý hàng hóa</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Sản phẩm</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Danh sách sản phẩm</h5>
                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary waves-effect waves-light" })

            </div>
            <hr style="margin: 0" />
            <div class="card-block">
                <table class="table">
                    <tr>
                        <th>
                            CategoryName
                        </th>
                        <th>
                            ProductName
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Evaluation
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Orgin
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Benefit
                        </th>
                        <th>
                            Introduction
                        </th>
                        <th>
                            Element
                        </th>
                        <th>
                            Tutorial
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Evaluation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Orgin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Benefit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Introduction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Element)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tutorial)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID.Trim() }, new { @class = "btn btn-inverse-warning waves-effect waves-light", })

                                <button id="@item.ProductID.Trim()" class="btn btn-inverse-info waves-effect waves-light delPro">Xóa</button>
                            </td>
                        </tr>
                    }

                </table>
                <br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

    </div>
</div>