@model DoNgoaiChinhHang.Areas.Admin.Models.Category
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header" style="margin-top: 0px;">
            <h4>Danh mục cha</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#"> Quản lý danh mục</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Danh mục con</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Thêm mới danh mục</h5>
            </div>
            <hr style="margin: 0" />
            <div class="card-block">

                @using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { @id = "formSubmit", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "form-control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã danh mục" } })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger", @id = "CategoryID2" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "form-control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên danh mục" } })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger", @id = "CategoryName2" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-control-label col-md-2" })
                            <div class="col-sm-10">

                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @rows = "9", @placeholder = "Nhập mô tả" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @id = "Description2" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.CategoryBaseID, "CategoryBaseID", htmlAttributes: new { @class = "form-control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryBaseID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryBaseID, "", new { @class = "text-danger", @id = "CategoryBaseID2" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "form-control-label col-md-2" })
                            <div class="col-sm-10">

                                <img id="output" src="~/assets/img/h0.png" alt="Ảnh" class="img-rounded" style="width:200px; height: 200px" />
                                <br />
                                <label for="file" class="form-control-label" style="cursor:pointer">
                                    Chọn ảnh
                                    <input name="Images" style="display:none" type="file" id="file" class="custom-file-input" onchange="loadFile(event)">
                                </label>
                                <br />
                                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger", @id = "Images2" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-info addCate">Thêm mới</button>
                                <button type="reset" class="btn btn-inverse-info btnReset">Reset</button>
                                @Html.ActionLink("Quay lại", "Index")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

