@model PagedList.IPagedList<DoNgoaiChinhHang.Areas.Admin.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Search_Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/css/cart.min.css" rel="stylesheet" />
<link href="~/assets/css/home.css" rel="stylesheet" />
<link href="~/assets/css/category.css" rel="stylesheet" />
<link href="~/assets/css/detail4.css" rel="stylesheet" />
<link href="~/assets/css/jquery.fancybox.css" rel="stylesheet" />
<link href="~/assets/css/menu.css" rel="stylesheet" />
<link href="~/assets/css/owl-carousel.css" rel="stylesheet" />
<link href="~/assets/css/styles4.css" rel="stylesheet" />
<link href="~/assets/css/menu.css" rel="stylesheet" />


<div class="breadcrumb">
    <ul>
        <li>
            <a href="~/Home/Index" title="Đồ Ngoại Chính Hãng">
                <span class="iH"></span>
            </a><span>›</span>
        </li>
        <li>
            <a href="@Url.Action("Search_Results","Search", new { content = @ViewBag.SearchContent })" title="Tìm kiếm">
                @if (ViewBag.test == true)
                {
                    <span> @ViewBag.SearchContent </span>
                }
                else
                {
                    <span> Tìm kiếm </span>
                }
            </a>
        </li>
    </ul>
</div>

<div class="col-left">
    <div class="barbox">
        <h1 class="titlecate">
            <a href="@Url.Action("Search_Results","Search","")">
                @if (ViewBag.test == true)
                {
                    <span> @ViewBag.SearchContent </span>
                }
                else
                {
                    <span>Có <span style="color: red">@ViewBag.soLuong</span> SP với từ khóa: <span style="color: red">@ViewBag.SearchContent</span></span>
                }


            </a>
        </h1>
    </div>

    <div class="box-shock">
        <div class="rowsp">
            <ul class="category-ul homeproduct nonslider">
                @if (ViewBag.soLuong > 0)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <div class="absoluteimg">
                                <a href="@Url.Action("Detail","Products",new { productID=@item.ProductID.Trim()})"
                                   title="@item.ProductName">
                                    @{
                                        var files = Directory.EnumerateFiles(Server.MapPath(item.Image))
                                    .Select(fn => item.ProductID.Trim() + "/" + Path.GetFileName(fn));
                                        string ImgPath = files.First();
                                    }
                                    <img class="lazy" alt="@item.ProductName"
                                         src="@Url.Content("~/wwwroot/ProductsImages/"+ImgPath)"
                                         style="display: block; opacity: 1;">
                                </a>
                                <div class="prolink" data-productID="@item.ProductID">
                                    <a href="@Url.Action("AddItem","Cart",new {productID= item.ProductID,quanlity= 1})"
                                       onclick="return showCart(40566, 1);"><i></i>&nbsp;Thêm giỏ hàng</a>
                                </div>
                                @if (item.Freeship == true)
                                {
                                    <label class="fship">
                                        <img class="lazy"
                                             alt="Miễn phí giao hàng" src="@Url.Content("~/assets/img/ifship.png")"
                                             style="display: block; opacity: 1;">
                                    </label>
                                }

                            </div>
                            @if (item.Discount > 0)
                            {<div class="promo-alert">Giảm @item.Discount/sp khi mua từ 2sp</div>}

                            <h3>
                                <a href="@Url.Action("Detail","Products",new { productID=@item.ProductID.Trim()})"
                                   title="@item.ProductName">
                                    @item.ProductName
                                </a>
                            </h3>
                            <ins>@item.Price</ins>
                            <div class="vote">
                                <div style="width:0%"></div>
                            </div>
                        </li>

                    }
                }
            </ul>
            <div style="align-content: center;">
                @Html.PagedListPager(Model, page => Url.Action("Search_Results",
                    new
                    {
                        page,
                        content = @ViewBag.SearchContent
              }))
            </div>
        </div>
    </div>
</div>

<div class="col-right">
    <div class="sidebar sidebar-right">
        <div class="widget widget-seller">
            <h4 class="seller_title radius">Danh mục sản phẩm</h4>
            <div class="widget widget-seller">
                <div class="widget-content">
                    <ul class="category-ul-rght">
                        @foreach (var categoryBase in ViewBag.listCategoryBase)
                        {
                            <li class="has-sub-cat">
                                <a href="@Url.Action("GetProductsByCategoryBase", "CategoryBases", new { categoryBase.CategoryBaseID})"
                                   title="@categoryBase.CategoryBaseName">@categoryBase.CategoryBaseName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            <div style="height:15px"></div>
            <div class="widget widget-seller">
                <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                <div class="widget-content">
                    <ul class="category-ul-rght">
                        @foreach (var item in ViewBag.listBrand)
                        {
                            <li>
                                @{
                                    var content = "Thương hiệu" + " " + @item;
                                }
                                <a href="@Url.Action("Search_Results","Search",new { content = content })" title="Thương hiệu @item">
                                    Thương hiệu @item
                                    @{
                                        var sl = 0;
                                        foreach (var t in @ViewBag.listProduct)
                                        {
                                            if (item == t.Brand)
                                            {
                                                sl++;
                                            }
                                        }
                                    }

                                    <span>(@sl)</span>
                                </a>
                            </li>
                        }

                        @foreach (var item in ViewBag.listOrgin)
                        {
                            <li>
                                @{
                                    var content = "Chính hãng" + " " + @item;
                                }
                                <a href="@Url.Action("Search_Results","Search",new { content = content })" title="Chính hãng @item">
                                    Chính hãng @item
                                    @{
                                        var sl = 0;
                                        foreach (var t in @ViewBag.listProduct)
                                        {
                                            if (item == t.Orgin)
                                            {
                                                sl++;
                                            }
                                        }
                                    }

                                    <span> (@sl)</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            <div style="height:15px"></div>
        </div>
    </div>
</div>