
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Doanh thu năm "+@ViewBag.nam
            },
            axisX: {
                valueFormatString: "DD MMM"
            },
            axisY: {
                title: "Doanh số (USD)",
                prefix: "đ"
            },
            data: [{
                type: "spline",
                xValueType: "dateTime",
                xValueFormatString: "DD MMM",
                yValueFormatString: "#,### đ",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
	    }]
        });

        chart.render();

    }
</script>

<div class="row">
    <div class="col-sm-12 p0">
        <div class="card" style="margin-top: 15px">

            <div class="card-block">
                <ul class="nav nav-tabs md-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#home3" role="tab">Tổng quan</a>
                        <div class="slide" style="width:100px"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#profile3" role="tab">Thống kê</a>
                        <div class="slide" style="width:100px"></div>

                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane" id="home3" role="tabpanel">
                        <div class="row dashboard-header">
                            <div class="col-lg-3 col-md-6">
                                <div class="card dashboard-product">
                                    <span>Tổng số sản phẩm</span>
                                    <h2 class="dashboard-total-products">@ViewBag.CountPro</h2>
                                    <span class="label label-primary">Views</span>View Today
                                    <div class="side-box">
                                        <i class="ti-signal text-warning-color"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card dashboard-product">
                                    <span>Tổng số đơn hàng</span>
                                    <h2 class="dashboard-total-products">@ViewBag.CountOd</h2>
                                    <span class="label label-primary">Views</span>View Today
                                    <div class="side-box ">
                                        <i class="ti-gift text-primary-color"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card dashboard-product">
                                    <span>Tổng doanh thu</span>
                                    <h2 class="dashboard-total-products">$<span>@ViewBag.doanhthu</span></h2>
                                    <span class="label label-success">Sales</span>Reviews
                                    <div class="side-box">
                                        <i class="ti-direction-alt text-success-color"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card dashboard-product">
                                    <span>Tổng số người dùng</span>
                                    <h2 class="dashboard-total-products"><span>@ViewBag.CountUs</span></h2>
                                    <span class="label label-success">Sales</span>Reviews
                                    <div class="side-box">
                                        <i class="ti-direction-alt text-success-color"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="profile3" role="tabpanel">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <label for="exampleSelect1" class="form-control-label">Chọn năm</label>
                            <select class="form-control" id="exampleSelect1" onchange="theoNam(event)">
                                @for (int i = 1990; i <= 2030; i++)
                                {
                                    if (i == ViewBag.nam)
                                    {
                                        <option selected value="@i">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }

                                }
                            </select>

                        </div>
                        <div class="col-sm-12">
                            <div id="chartContainer" style="height: 444px; width: 100%;"></div>
                            <script src="~/assets/Admin/custom/canvasjs.min.js"></script>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<script>
    function theoNam(event) {
        location.href = "/Admin/Home?nam=" + event.target.value
    }
</script>