<!DOCTYPE html>
<html lang="vi" xml:lang="vi" class=" responsejs ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Đồ Ngoại Chính Hãng mang Chất lượng và Uy tín đến tay người dùng</title>
    <meta name="keywords" content="Đồ Ngoại Chính Hãng mang Chất lượng và Uy tín đến tay người dùng,">
    <meta name="description"
          content="dongoaichinhhang.com  - Chuyên cung cấp các sản phẩm chính hãng trong và ngoài nước Uy tín và Chất lượng cao từ các hãng phân phối, nhà sản xuất hàng đầu 🌐 Website:  dongoaichinhhang.com   - ☎ Hotline: 0983 667 466">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp, noydir">
    <meta name="copyright" content="dongoaichinhhang.com - Hàng Chính Hãng">
    <meta name="author" content="dongoaichinhhang.com - Hàng Chính Hãng">
    <meta name="GENERATOR" content="dongoaichinhhang.com - Hàng Chính Hãng">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 days">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:site_name" content="dongoaichinhhang.com">
    <meta property="og:type" content="product">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:url" itemprop="url" content="https://dongoaichinhhang.com/">
    <meta property="og:title" content="Đồ Ngoại Chính Hãng mang Chất lượng và Uy tín đến tay người dùng">
    <meta property="og:description"
          content="dongoaichinhhang.com  - Chuyên cung cấp các sản phẩm chính hãng trong và ngoài nước Uy tín và Chất lượng cao từ các hãng phân phối, nhà sản xuất hàng đầu 🌐 Website:  dongoaichinhhang.com   - ☎ Hotline: 0983 667 466">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description"
          content="dongoaichinhhang.com  - Chuyên cung cấp các sản phẩm chính hãng trong và ngoài nước Uy tín và Chất lượng cao từ các hãng phân phối, nhà sản xuất hàng đầu 🌐 Website:  dongoaichinhhang.com   - ☎ Hotline: 0983 667 466">
    <meta name="twitter:title" content="Đồ Ngoại Chính Hãng mang Chất lượng và Uy tín đến tay người dùng">
    <meta name="geo.placename" content="Việt Nam">
    <meta name="geo.region" content="VN">
    <meta name="geo.position" content="14.058324;108.277199">
    <meta name="ICBM" content="14.058324;108.277199">
    <link href="https://dongoaichinhhang.com/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="https://dongoaichinhhang.com/">
    <meta name="google-site-verification" content="48AkW556P7kUC2XfA3_8bpBMX2XeGCO_8XJQoltUfGU">
    <meta name="google-site-verification" content="b2WIN4dMcuVfhhWhoKnWYe5bcXApK2sOByZDzj-Z0KA">
    @* <link rel="stylesheet" href="./assets/css/cart.min.css" type="text/css" media="screen">
        <link rel="stylesheet" href="./assets/css/menu.css" type="text/css" media="screen">
        <link rel="stylesheet" href="./assets/css/styles4.css" type="text/css" media="screen">
        <link rel="stylesheet" href="./assets/css/owl-carousel.css" type="text/css" media="screen">*@

    <link href="~/assets/css/cart.min.css" rel="stylesheet" />
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/assets/css/styles4.css" rel="stylesheet" />
    <link href="~/assets/css/owl-carousel.css" rel="stylesheet" />

    <meta name="theme-color" content="#ff0000">
    <script type="text/javascript" async="" src="./assets/js/analytics.js.tải xuống"></script>
    <script type="text/javascript" async="" src="./assets/js/f.txt"></script>
    <script type="text/javascript" async="" src="./assets/js/js(1)"></script>
    <script src="./assets/js/299092611415381" async=""></script>
    <script async="" src="~/assets/js/fbevents.js.tải xuống"></script>
    <script src="./assets/js/common.js(1).tải xuống"></script>
    <link rel="manifest" href="https://dongoaichinhhang.com/manifest.json">
    <script type="text/javascript">if ('serviceWorker' in navigator) { window.addEventListener('load', function () { navigator.serviceWorker.register('/sw4.js').then(function (registration) { console.log('ServiceWorker registration successful with scope: ', registration.scope) }).catch(function (err) { console.log('ServiceWorker registration failed: ', err) }) }) }</script>
    <link rel="stylesheet" href="./assets/css/home.css" type="text/css" media="screen">

    <link href="~/assets/css/home.css" rel="stylesheet" />
    <script async="" src="./assets/js/js(2)"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-833009878');</script>
    <script>gtag('event', 'page_view', { 'send_to': 'AW-833009878', 'user_id': '', 'value': '', 'items': [{ 'id': '', 'google_business_vertical': 'retail' }] });</script>
    <script async="" src="./assets/js/js(3)"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-137604948-1');</script>
    <script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '299092611415381'); fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=299092611415381&ev=PageView&noscript=1" />
    </noscript>
    <script src="./assets/js/f(1).txt"></script>
    <script src="./assets/js/f(2).txt"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    

    
</head>

<body class="">
    @* cart-opened*@
    <div id="wrapper_content_page">
        <div id="sticky-wrapper" class="sticky-wrapper" style="height: 56px;">
            <header style="width: 1519px; position: fixed; top: 0px; z-index: 999;">
                <div class="out-wraphead clr">
                    <div class="wraphead">
                        <a class="icon-menu navbar-toggle" id="mobileMenu"
                           data-toggle="collapse">
                            <span class="icon-bar first"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </a>
                        <div class="main-navigation">
                            <div class="mainbox">
                                <div class="mainmenu">
                                    <div class="line"><i></i><i></i><i></i><i></i></div><span> </span>
                                </div>
                            </div>
                        </div><a class="logo" title="dongoaichinhhang.com" href="/Home">

                            <img src="~/assets/img/dongoaichinhhang.png" />
                        </a><img id="sSrch"
                                 class="sSrch" src="./assets/img/iSearch.png" alt="search">
                        <form id="main-search" autocomplete="off" action="https://dongoaichinhhang.com/tim-kiem.html">
                            <input class="topinput" type="text" maxlength="100" placeholder="Tìm sản phẩm..."
                                   id="keySearch" name="tk" autocomplete="off"><button class="btntop" type="submit">
                                <i class="icondmx-topsearch"></i>
                            </button>
                        </form>
                        <div id="cart-box">
                            <a href="https://dongoaichinhhang.com/gio-hang.html" class="cart hidecb">
                                <i class="icart"></i><span id="cbCount">0</span>
                            </a>
                            <aside id="core-brain">
                                <div class="panel">
                                    <div id="cb-cart">
                                        <div class="body between">
                                            <div class="product-list ps-container ps-theme-default" id="list-cart">
                                            </div>
                                            <div class="pull-bottom ">
                                                <div class="cart-url">
                                                    <p>
                                                        Bạn có <strong id="cb-cart-badge">0</strong> sản phẩm trong giỏ
                                                        hàng
                                                    </p><a href="/Cart/Index">
                                                        Xem
                                                        giỏ hàng
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </aside>
                        </div>
                        <div class="switchboard hmb">
                            <a href="tel:0983667466">
                                0983 667 466<span>
                                    Tư vấn Miễn
                                    Phí
                                </span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </header>
        </div>
        <section class="mtsl clr">
            @RenderBody()
        </section>
        <footer>
            <div class="clr"></div>
            <div class="footer_info">
                <div id="show-fp"></div>
                <section>
                    <div class="page_info">
                        <div class="pi-first">
                            <div class="inner">
                                <h4 class="title"> Phương Thức Thanh Toán</h4>
                                <div class="clr">
                                    <ul class="lpay">
                                        <li><img alt="cash" src="~/assets/img/cash.png"></li>
                                        <li><img alt="internet-banking" src="~/assets/img/internet-banking.png"></li>
                                    </ul> <a href="/" target="_blank">
                                        <img alt=""
                                             src="./assets/img/zalo-barcode.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pi-second">
                            <div class="inner">
                                <h4 class="title clr"> Trung tâm phân phối</h4>
                                <p>
                                    Đ/c: 11/71 Bùi Đình Túy, P.12, Q. Bình Thạnh, TpHCM<br> Hotline: <a href="tel:0983667466">0983 667 466</a><br> Email: info@dongoaichinhhang.com<br>
                                    Website: <a href="/" rel="nofollow"
                                                title="Shop Đồ Ngoại">www.dongoaichinhhang.com </a>
                                </p>
                            </div>
                        </div>
                        <div class="pi-third">
                            <div class="show-map">
                                <iframe src="./assets/img/embed.html" width="600" height="110"
                                        frameborder="0" style="border:0;max-width:100%" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="footer-col">
                        <div class="col-div col1">
                            <div class="inner">
                                <h4>Thông tin</h4>
                                <ul>
                                    <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                                    <li>
                                        <a href="/"
                                           title="Sản phẩm">Sản phẩm</a>
                                    </li>
                                    <li>
                                        <a href="/" title="Kho quà tặng">
                                            Kho
                                            quà tặng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Kiến thức làm đẹp">Kiến thức làm đẹp</a>
                                    </li>
                                    <li>
                                        <a href="/" title="Liên hệ">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col2">
                            <div class="inner">
                                <h4>Hướng dẫn</h4>
                                <ul>
                                    <li>
                                        <a href="/"
                                           title="Chính sách Đồ Ngoại Chính Hãng">Chính sách Đồ Ngoại Chính Hãng</a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Giao nhận và thanh toán">Giao nhận và thanh toán</a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Đổi trả hàng và bảo hành">Đổi trả hàng và bảo hành</a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Chính sách Hoàn Tiền">Chính sách Hoàn Tiền</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col3">
                            <div class="inner">
                                <h4>Liên kết</h4>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("LoginUser","Account")" title="Đăng nhập">
                                            Đăng
                                            nhập
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Register","Account")" title="Đăng ký">Đăng ký</a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           title="Giới thiệu về  dongoaichinhhang.com  ">
                                            Giới thiệu về
                                            dongoaichinhhang.com
                                        </a>
                                    </li>
                                    <li><a href="/" title="Tìm kiếm">Tìm kiếm</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col4">
                            <div class="inner">
                                <h4>Sản phẩm HOT</h4>
                                <ul>
                                    <li>
                                        <a href="https://sily.vn/thuoc-collagen-chong-lao-hoa-dayoutheory-390-vien-type-1-2-3-my-collagen-6000mg-youtheory-biotin.html"
                                           title="Collagen Youtheory 390 Mỹ">Collagen Youtheory 390 Mỹ</a>
                                    </li>
                                    <li>
                                        <a href="https://sily.vn/thuoc-moc-toc-danh-cho-nu-qik-hair-stpaul-brands-30-vien-cua-my.html"
                                           title="Thuốc mọc tóc Nữ QIK Hair Mỹ">Thuốc mọc tóc Nữ QIK Hair Mỹ</a>
                                    </li>
                                    <li>
                                        <a href="https://goomart.vn/thuoc-ho-tro-moc-long-may-kaminomoto-eyebrows-rapid-growth-10ml-nhat-ban.html"
                                           title="Thuốc mọc lông Mày Kaminomoto">Thuốc mọc lông Mày Kaminomoto</a>
                                    </li>
                                    <li>
                                        <a href="https://goomart.vn/vien-uong-trang-da-collagen-placenta-5-in-1-270-vien-nhat-ban.html"
                                           title="Collagen Placenta 5 in 1 trắng da Nhật">
                                            Collagen Placenta 5 in 1
                                            trắng da Nhật
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://goomart.vn/vien-uong-bo-xuong-khop-glucosamine-1500mg-orihiro-900-vien-nhat-ban.html"
                                           title="Glucosamine Orihiro 1500mg Nhật Bản">
                                            Glucosamine Orihiro 1500mg Nhật
                                            Bản
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col5 w100">
                            <div class="inner">
                                <h4> Liên hệ</h4>
                                <ul>
                                    <li> Shop<strong>&nbsp;ĐỒ NGOẠI CHÍNH HÃNG</strong></li>
                                    <li> Đ/c: 11/71 Bùi Đình Túy, P.12, Bình Thạnh, HCM</li>
                                    <li> Hotline: <a href="tel:0983667466">0983 667 466</a></li>
                                    <li>
                                        Email: <a href="mailto:info@dongoaichinhhang.com">
                                            info@dongoaichinhhang.com
                                        </a>
                                    </li>
                                    <li>
                                        Website: <a href="http://dongoaichinhhang.com/">
                                            <strong>
                                                www.dongoaichinhhang.com
                                            </strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </section>
                <div class="footer-tabs">
                    <section>
                        <div class="mmb"></div>
                        <div class="clr"></div>
                    </section>
                </div>
            </div>
        </footer>
        <div class="hotlineM"><a href="tel:0983667466"><img src="./assets/img/hotline.png" alt="hotline"></a></div>
        <div id="gb-top-page" style="display: block;">↑</div>
    </div>



    <span class="h-geo geo" style="display: none;">
        <span class="p-latitude latitude">14.058324</span>,<span class="p-longitude longitude">108.277199</span>
    </span>
    <div id="cart_sidebar_html">
        <div class="cart-sidebar">
            @*opened*@
            <div id="cart-loading hide"></div>
            <div class="widget-wrapper">
                <div id="cart-info" class="cart-info">
                    <span class="title">Giỏ Hàng</span><br><br>
                    <span id="showItemOrder">
                        <ul class="list-unstyled" id="list-unstyled">
                            @* <li>
                                    <figure>
                                        <a class="cart_list_product_img" href="/thuoc-moc-rau-nakashima-nhat-ban.html">
                                            <img src="/img/thuoc-kich-thich-moc-rau-nakashima-nhat-ban.jpg" alt="anh"
                                                 class="wo60" />
                                        </a>
                                    </figure>
                                    <div class="list_content">
                                        <h5>
                                            <a href="/thuoc-moc-rau-nakashima-nhat-ban.html"
                                               title="Thuốc Mọc Râu Nakashima Nhật Bản">
                                                <span>
                                                    Thuốc Mọc Râu Nakashima Nhật
                                                    Bản
                                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="list_content"><i>Giá:</i> <b>1</b> x <b>279.000₫</b></div>
                                    <div class="promo-alert" style="margin-top: 5px;">Quà tặng hấp dẫn</div>
                                    <i>Tặng kèm:</i> <span style="color: red;">
                                        + Mặt nạ dưỡng ẩm cho da từ thiên nhiên
                                        Innisfree My Real Squeeze Mask 1 miếng<br />
                                    </span>
                                </li>*@

                        </ul>
                        <div class="subtotal">Tổng Tiền: <strong id="subtotal"> 0 </strong></div>
                    </span>

                    <div class="buttons" id="">
                        <a href="/Cart/Index" class="btn-pay"
                           title="thanh toán">TIẾN HÀNH ĐẶT HÀNG</a>
                        <a onclick="" class="btn-viewcart hidden-lg hidden-md hidden-desktop"
                           title="đóng giỏ hàng" id="exit-cart">ĐÓNG</a>
                    </div>
                    <div>
                        <div><b>HỖ TRỢ 24/7</b></div>
                        <div style="margin: 10px 0;">
                            Hotline: <a href="tel://0983667466"
                                        style="color: red; font-size: 18px; font-weight: 700">0983 667 466</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-menu" class="mobile-menu"></div>
    @* <script src="./assets/js/response.min.js.tải xuống"></script>
        <script src="./assets/js/jquery.sticky.js.tải xuống"></script>
        <script src="./assets/js/home.js.tải xuống"></script>
        <script src="./assets/js/script.js.tải xuống"></script>*@
    @*    <script type="text/javascript">$(function () { var win = $(window); var loaded = 0; var loadedScrollTop = 0; win.scroll(function () { loadedScrollTop = 1; if ($(window).scrollTop() + window.innerHeight + 10 >= $('#show-fp').position().top && loaded == 0) { $('.show-map').html('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1333.2537272719658!2d106.69780835760047!3d10.806865894974957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c093fdafb9%3A0xbf42d864713572e1!2zMTEvNzEgQsO5aSDEkMOsbmggVHXDvSwgUGjGsOG7nW5nIDEyLCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1550808182143" width="600" height="110" frameborder="0" style="border:0;max-width:100%" allowfullscreen></iframe>'); loaded = 1; } }); });</script>
    *@    @*<script type="application/ld+json">{"@context": "http://schema.org","@type": "LocalBusiness","priceRange":"$$","image":"https://dongoaichinhhang.com/images/dongoaichinhhang.com192x192.png","name" : "dongoaichinhhang.com","telephone": "+84 983 667 466","address": {"@type": "PostalAddress","streetAddress": "11/71 Bùi Đình Túy, P.12, Bình Thạnh","addressLocality": "Hồ Chí Minh"}}</script>

        <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","name":"Đồ Ngoại Chính Hãng","url":"https://dongoaichinhhang.com/","potentialAction": [{ "@type": "SearchAction","target": "/tim-kiem.html?tk={search_term_string}","query-input": "required name=search_term_string"}]}</script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>





    @*Add items into carts*@
<script>
        $(document).ready(function () {
            var htmls;
            var urlApi = 'https://localhost:44378/Cart/Show';
            fetch(urlApi)
                .then(function (respone) {
                    respone.json().then(
                        function (value) {
                            var countProduct = value.length;
                            document.getElementById('cbCount').innerHTML = countProduct;
                            document.getElementById('cb-cart-badge').innerHTML = countProduct;

                        },
                        function (error) {
                            console.log(error)
                        }
                    )
                })
                .catch(error => {
                    console.log(error);
                })
            $(".prolink").click(function (e) {
                event.preventDefault();
                var productID = $(this).attr("data-productID");
                var quanlity = 1;
                $.ajax({
                    type: 'post',
                    data: {
                        productID: productID.trim(),
                        quanlity: quanlity
                    },
                    url: "/Cart/AddItem",
                   @* dataType: "json",*@
                    success: function (result) {
                        fetch(urlApi)
                            .then(function (respone) {
                                respone.json().then(
                                    function (value) {
                                        htmls = value.map(function (item) {
                                            return `
                                        <li>
                                             <figure>
                                                <a class="cart_list_product_img" href="/thuoc-moc-rau-nakashima-nhat-ban.html">
                                                      @*@{
                                                        var imgpath=ViewBag.ImageCart;
                                                    }*@
                                                    <img src="~/wwroot/ProductsImages/" alt="anh" class="wo60" />
                                                </a>
                                              </figure>
                                             <div class="list_content">
                                                <h5>
                                                     <a href="/thuoc-moc-rau-nakashima-nhat-ban.html" title="${item.Product.ProductName}">
                                                        <span>${item.Product.ProductName}</span>
                                                     </a>
                                                </h5>
                                             </div>
                                             <div class="list_content"><i>Giá:</i> <b>${item.Quanlity}</b> x <b>${item.Product.Price}</b></div>
                                             <div class="promo-alert" style="margin-top: 5px;">Quà tặng hấp dẫn</div>
                                              <i>Tặng kèm:</i> <span style="color: red;"> + Mặt nạ dưỡng ẩm cho da từ thiên nhiên Innisfree My Real Squeeze Mask 1 miếng<br /> </span>
                                        </li>
                                        `;
                                        });
                                        var countProduct = value.length;
                                        document.getElementById('cbCount').innerHTML = countProduct;
                                        document.getElementById('cb-cart-badge').innerHTML = countProduct;
                                        var sumPrice = value.reduce(function (accumulator, currentValue) {
                                            return accumulator + currentValue.Product.Price * currentValue.Quanlity;
                                        }, 0)
                                        document.getElementById('subtotal').innerHTML = sumPrice.toString().concat(' VNĐ');
                                        var html = htmls.join('');
                                        document.getElementById('list-unstyled').innerHTML = html;
                                    },
                                    function (error) {
                                        console.log(error);
                                    }
                                )
                            })
                            .catch(error => {
                                console.log(error);
                            })
                    },
                    error: function (error) {
                       alert("Error occurred");
                     }
                    });

                $("body").addClass("cart-opened");
                $(".cart-sidebar").addClass("opened");
            });
            $("#exit-cart").click(function () {
                event.preventDefault();
                $("body").removeClass("cart-opened");
                $(".cart-sidebar").removeClass("opened");
            });

            $(".btn-danger").click(function (value) {
                event.preventDefault();
                var productID = $(this).attr("data-productID");
                var isDelete = confirm("Bạn chắc chắn muốn bỏ mặt hàng này khỏi giỏ??");
                if (isDelete) {

                    $.ajax({
                        type: "POST",
                        data:
                        {
                            productID: productID
                        },
                        url: '/Cart/RemoveItem',
                        dataType: "json",
                        success: function (result) {
                            setTimeout(function () { location.reload(); }, 1000);
                        },
                        error: function (error) {
                            alert("error while deleting data");
                        }

                    })
                }
            });

            $(".CartItem_Quanlity").change(function (value) {

                var productID = $(this).attr("data-productID");
                var price = document.getElementById(`Price_${productID}`).getAttribute('value');
                var quanlity = value.target.value;
                if (!isNaN(quanlity) && quanlity>0) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateItem","Cart")",
                        data:
                        {
                            productID: productID,
                            quanlity: quanlity
                        },
                        success: function (result) {
                            document.getElementById(`lbPriceTotal_${productID}`).innerHTML = quanlity * price;
                        },
                        error: function (xhr) {
                            alert("Đã có lỗi xảy ra");
                        }

                    });
                }
                else {
                    alert("Giá trị trường số lượng không đúng");
                    document.getElementById(productID).value = 1;
                    document.getElementById(`lbPriceTotal_${productID}`).innerHTML = 1 * price;
                }
            });
        })
</script>
    <style>
        .none {
            display: block;
        }
    </style>
</body>
<script src="~/assets/js/detailProduct.js"></script>
<div style="position: absolute; top: 0px;">

</div>

</html>