@model DoNgoaiChinhHang.Areas.Admin.Models.Account

@{
    ViewBag.Title = "Sửa thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header" style="margin-top: 0px;">
            <h4>Danh sách người dùng</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#"> Quản lý người dùng</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Danh sách tài khoản</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Thêm mới tài khoản</h5>
            </div>
            <hr style="margin: 0" />
            <div class="card-block">


                @using (Html.BeginForm("Edit", "Accounts", FormMethod.Post, new { @id = "formSubmit", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccountID, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger", @id = "AccountID2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Số điện thoại</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", @id = "Phone2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "Email2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Mật khẩu</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "Password2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Họ và tên</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger", @id = "CustomerName2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Địa chỉ</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @id = "Address2" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Quản trị viên</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger", @id = "IsAdmin2" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label col-md-2">Trạng thái</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger", @id = "Status2" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" value="Lưu lại" class="btn btn-info editAcc" />
                            @Html.ActionLink("Quay lại", "Index")
                        </div>

                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>

